
/*------------------
    Font Style
------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

main{
    background-color: #292929;
}

/*-----------------
    Navbar Style
-----------------*/
.nav{
    font-weight: bolder;
}
.nav:hover{
    color: #1d7a1d!important;
}
.login-btn:hover{
    background-color: orange!important;

}

/*-------------------
    Body Style
-------------------*/

.container{
    padding-top: 8%;
    padding-bottom: 2%;
    /* margin-top: 8%; */
}
.bio{
    color: white;
}

.img{
    width: 35%;
    margin-left: 27%;
}
.hr{
    height: 2px!important;
    margin-left: 12%;
}
.skill-btn{
    color: white;
    background-color: rgb(85, 83, 83);
    border: 0;
    border-radius: 5px;
    padding: 1% 20%;
}
.skill-btn:hover{
    color: white;
    background-color: green;
}
.end-btn{
    margin-left: 50%;
}

